html {
  --background_color_1: #0b132b;
  --navbar_color: #1c2541;
  --background_color_2: #3bb78f;
  --head_text_color: #ffdf01;
  --table_body_background: #0b132b;
  --table_row_background: #0b132b;
  --footer_background: #3a506b;
  --footer-link-color: #ffdf01;
  --copyright_background: #1c2541;
  --footer_link_hover: #89ff89;
  --social_link_color: #ffdf01;
  --confirm-color: #a0d2e7;
  --active-color: #ff4c4c;
  --recovered-color: #7feb45;
  --death-color: #cccccc;
  --copyright-color: #fff;
  --color_1: #ffdf01;
  --color_2: #ffffff;
  --color_3: #e23028;
  --table_text: #fff;
  --table_hover: #a0d2e7;
  --form-control-bg: #1c2541;
  --form-control-border: #ffdf01;
  --form-control-color: #ffdf01;
  --form-control-placeholder: #fff;
}

html[data-theme="light"] {
  --background_color_1: #fdfdfd;
  --navbar_color: #ffffff;
  --head_text_color: #ff500a;
  --background_color_2: #fff;
  --table_body_background: #fffde8;
  --table_row_background: #fffde8;
  --footer_background: #3a506b;
  --footer-link-color: #fff;
  --copyright_background: #1c2541;
  --footer_link_hover: #fff;
  --social_link_color: #fff;
  --confirm-color: #000;
  --active-color: #ff4c4c;
  --recovered-color: #0b903f;
  --death-color: #666666;
  --copyright-color: #fff;
  --color_1: #000;
  --color_2: #ffffff;
  --color_3: #e23028;
  --table_text: #000;
  --table_hover: #448ef6;
  --table_text_color: #000;
  --form-control-bg: #fff;
  --form-control-border: #1c2541;
  --form-control-color: #1c2541;
  --form-control-placeholder: #1c2541;
}

@font-face {
  font-family: GENUINE;
  src: url("../fonts/GENUINE/GENUINE.ttf");
}

@font-face {
  font-family: BebasNeue;
  src: url("../fonts/BebasNeue/TTF/BebasNeue-Bold.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

.navbar .navbar-brand .head-text {
  font-family: "GENUINE" !important;
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--head_text_color);
}

nav {
  background-color: var(--navbar_color) !important;
}

nav .navbar-nav .nav-item .nav-link {
  color: var(--color_1) !important;
}

nav .navbar-nav .nav-item .nav-link:active {
  color: var(--color_2) !important;
}

nav .navbar-nav .nav-item .nav-link:hover {
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}

.logo {
  width: 3.5rem;
  height: 3.5rem;
}

.nav .navbar-nav .nav-item .nav-text {
  text-transform: uppercase;
  font-family: Lato !important;
  font-size: 1.2rem;
}

.card-chart {
  background-color: var(--background_color_1);
}

.table {
  color: var(--table_text);
}

.table tbody {
  font-family: "Roboto", sans-serif;
  background-color: var(--table_body_background);
}

.table tbody tr {
  background-color: var(--table_row_background);
}

.table tbody tr:hover {
  color: var(--table_hover);
}

.container-cus {
  background-color: var(--background_color_1);
}

.container-cus .counter-con {
  color: var(--confirm-color) !important;
}

.container-cus .counter-act {
  color: var(--active-color) !important;
}

.container-cus .counter-rec {
  color: var(--recovered-color) !important;
}

.container-cus .counter-dec {
  color: var(--death-color) !important;
}

.banner-text {
  color: var(--color_3);
}

.footer-cus {
  background-color: var(--footer_background) !important;
}

.footer-cus .social-link {
  cursor: pointer;
  color: var(--social_link_color);
}

.footer-cus .social-link:hover {
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}

.footer-cus .copyright-cus {
  background-color: var(--copyright_background) !important;
  color: var(--copyright-color);
}

.footer-cus .copyright-cus .footer-link {
  text-decoration: none;
  color: var(--footer-link-color);
}

.footer-cus .copyright-cus .footer-link:hover {
  color: var(--footer_link_hover);
}

.form-control:valid {
  background-color: var(--form-control-bg) !important;
  border-radius: 50px;
  border-color: var(--form-control-border);
  border-width: 4px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 20px;
  font-family: Lato;
  color: var(--form-control-color);
}

.form-control::-webkit-input-placeholder {
  color: var(--form-control-placeholder);
  opacity: 0.8;
}

.form-control:-ms-input-placeholder {
  color: var(--form-control-placeholder);
  opacity: 0.8;
}

.form-control::-ms-input-placeholder {
  color: var(--form-control-placeholder);
  opacity: 0.8;
}

.form-control::placeholder {
  color: var(--form-control-placeholder);
  opacity: 0.8;
}

/*Toggle Button*/
.switch {
  display: inline-block;
  width: 50px;
  height: 30px;
  padding: 4px;
  border-radius: 20px;
  background: #ccc;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background 350ms ease;
  transition: background 350ms ease;
  overflow-x: hidden;
}

.switch:before, .switch:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transition: all 350ms cubic-bezier(0, 0.95, 0.38, 0.98), background 150ms ease;
  transition: all 350ms cubic-bezier(0, 0.95, 0.38, 0.98), background 150ms ease;
}

.switch:before {
  background: rgba(128, 128, 128, 0.075);
  -webkit-transform: translate3d(0, -50%, 0) scale(0);
          transform: translate3d(0, -50%, 0) scale(0);
}

.switch:after {
  background: grey;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
}

.switch:active:before {
  -webkit-transform: translate3d(0, -50%, 0) scale(3);
          transform: translate3d(0, -50%, 0) scale(3);
}

input:checked + .switch {
  background: #d0efa8;
}

input:checked + .switch:before {
  background: rgba(131, 177, 84, 0.075);
  -webkit-transform: translate3d(100%, -50%, 0) scale(1);
          transform: translate3d(100%, -50%, 0) scale(1);
}

input:checked + .switch:after {
  background: #83b154;
  -webkit-transform: translate3d(100%, -50%, 0);
          transform: translate3d(100%, -50%, 0);
}

input:checked + .switch:active:before {
  background: rgba(131, 177, 84, 0.075);
  -webkit-transform: translate3d(100%, -50%, 0) scale(3);
          transform: translate3d(100%, -50%, 0) scale(3);
}

/*Toggle Button ends*/
@media (max-width: 480px) {
  nav a .head-text {
    font-size: 0.5rem;
  }
}

@media (min-width: 1500px) {
  .nav-cus {
    height: 100px;
  }
}
/*# sourceMappingURL=style.css.map */