html {
  --background_color_1: #0b132b;
  --navbar_color: #1c2541;
  --background_color_2: #3bb78f;
  --head_text_color: #ffdf01;
  --table_body_background: #0b132b;
  --table_row_background: #0b132b;
  --footer_background: #3a506b;
  --footer-link-color: #ffdf01;
  --copyright_background: #1c2541;
  --footer_link_hover: #89ff89;
  --social_link_color: #ffdf01;
  --confirm-color: #a0d2e7;
  --active-color: #ff4c4c;
  --recovered-color: #7feb45;
  --death-color: #cccccc;
  --copyright-color: #fff;
  --color_1: #ffdf01;
  --color_2: #ffffff;
  --color_3: #e23028;
  --table_text: #fff;
  --table_hover: #a0d2e7;

  --form-control-bg: #1c2541;
  --form-control-border: #ffdf01;
  --form-control-color: #ffdf01;
  --form-control-placeholder: #fff;
}

html[data-theme="light"] {
  --background_color_1: #fdfdfd;
  --navbar_color: #ffffff;
  --head_text_color: #ff500a; //rgb(0, 0, 0);
  --background_color_2: #fff;
  --table_body_background: #fffde8;
  --table_row_background: #fffde8;
  --footer_background: #3a506b;
  --footer-link-color: #fff;
  --copyright_background: #1c2541;
  --footer_link_hover: #fff;
  --social_link_color: #fff;
  --confirm-color: #000;
  --active-color: #ff4c4c;
  --recovered-color: #0b903f;
  --death-color: #666666;
  --copyright-color: #fff;
  --color_1: #000;
  --color_2: #ffffff;
  --color_3: #e23028;
  --table_text: #000;
  --table_hover: #448ef6;
  --table_text_color: #000;

  --form-control-bg: #fff;
  --form-control-border: #1c2541;
  --form-control-color: #1c2541;
  --form-control-placeholder: #1c2541;
}

$switch-thumb: grey;
$switch-thumb--active: #83b154;
$switch-track: #ccc;
$switch-track--active: #d0efa8;
$light-bg: #fff;

$font_family_1: Montserrat;
$font_family_2: Lato;
$font_family_3: "Roboto", sans-serif;
$font_family_4: "BebasNeue";
$font_family_5: "GENUINE";

@font-face {
  font-family: GENUINE;
  src: url("../fonts/GENUINE/GENUINE.ttf");
}
@font-face {
  font-family: BebasNeue;
  src: url("../fonts/BebasNeue/TTF/BebasNeue-Bold.ttf");
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms !important;
  transition-delay: 0 !important;
}

.navbar {
  .navbar-brand {
    .head-text {
      font-family: $font_family_5 !important;
      font-size: 1.5rem;
      font-weight: 300;
      color: var(--head_text_color);
    }
  }
}

nav {
  background-color: var(--navbar_color) !important;

  .navbar-nav {
    .nav-item {
      .nav-link {
        color: var(--color_1) !important;

        &:active {
          color: var(--color_2) !important;
        }

        &:hover {
          filter: brightness(0.8);
          -webkit-filter: brightness(0.8);
        }
      }
    }
  }
}

.logo {
  width: 3.5rem;
  height: 3.5rem;
}

.nav {
  .navbar-nav {
    .nav-item {
      .nav-text {
        text-transform: uppercase;
        font-family: $font_family_2 !important;
        font-size: 1.2rem;
      }
    }
  }
}

.card-chart {
  background-color: var(--background_color_1);
}

.table {
  color: var(--table_text);
  tbody {
    font-family: $font_family_3;
    background-color: var(--table_body_background);

    tr {
      background-color: var(--table_row_background);
      &:hover {
        color: var(--table_hover);
      }
    }
  }
}

.container-cus {
  background-color: var(--background_color_1);

  .counter-con {
    color: var(--confirm-color) !important;
  }

  .counter-act {
    color: var(--active-color) !important;
  }

  .counter-rec {
    color: var(--recovered-color) !important;
  }

  .counter-dec {
    color: var(--death-color) !important;
  }
}

.banner-text {
  color: var(--color_3);
}

.footer-cus {
  background-color: var(--footer_background) !important;

  .social-link {
    cursor: pointer;
    color: var(--social_link_color);

    &:hover {
      filter: brightness(0.8);
      -webkit-filter: brightness(0.8);
    }
  }

  .copyright-cus {
    background-color: var(--copyright_background) !important;
    color: var(--copyright-color);

    .footer-link {
      text-decoration: none;
      color: var(--footer-link-color);

      &:hover {
        color: var(--footer_link_hover);
      }
    }
  }
}

.form-control:valid {
  background-color: var(--form-control-bg) !important;
  border-radius: 50px;
  border-color: var(--form-control-border);
  border-width: 4px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 20px;
  font-family: $font_family_2;
  color: var(--form-control-color);
}

.form-control::placeholder {
  color: var(--form-control-placeholder);
  opacity: 0.8;
}

/*Toggle Button*/

.switch {
  display: inline-block;
  width: 50px;
  height: 30px;
  padding: 4px;
  border-radius: 20px;
  background: $switch-track;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  user-select: none;
  transition: background 350ms ease;
  overflow-x: hidden;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transition: all 350ms cubic-bezier(0, 0.95, 0.38, 0.98),
      background 150ms ease;
  }

  &:before {
    background: rgba($switch-thumb, 0.075);
    transform: translate3d(0, -50%, 0) scale(0);
  }

  &:after {
    background: $switch-thumb;
    transform: translate3d(0, -50%, 0);
  }

  &:active {
    &:before {
      transform: translate3d(0, -50%, 0) scale(3);
    }
  }
}

input:checked + .switch {
  background: $switch-track--active;

  &:before {
    background: rgba($switch-thumb--active, 0.075);
    transform: translate3d(100%, -50%, 0) scale(1);
  }

  &:after {
    background: $switch-thumb--active;
    transform: translate3d(100%, -50%, 0);
  }

  &:active {
    &:before {
      background: rgba($switch-thumb--active, 0.075);
      transform: translate3d(100%, -50%, 0) scale(3);
    }
  }
}
/*Toggle Button ends*/

@media (max-width: 480px) {
  nav {
    a {
      .head-text {
        font-size: 0.5rem;
      }
    }
  }
}

@media (min-width: 1500px) {
  .nav-cus {
    height: 100px;
  }
}
